<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid green;
        }
    </style>
</head>
<table>
    <tr>
        <th>buy_name</th>
        <th>buy_mobile</th>
        <th>seller_name</th>
        <th>seller_mobile</th>
        <th>make</th>
        <th>model</th>
        <th>Year</th>
        <th>condition</th>
        <th>asking_price</th>
        <th>commission_money</th>
        <th>net_amount_seller</th>
    </tr>
    <tr>
        <td>{{buy_name}}</td>
        <td>{{buy_mobile}}</td>
        <td>{{seller_name}}</td>
        <td>{{seller_mobile}}</td>
        <td>{{make}}</td>
        <td>{{model}}</td>
        <td>{{Year}}</td>
        <td>{{condition}}</td>
        <td>{{asking_price}}</td>
        <td>{{commission_money}}</td>
        <td>{{net_amount_seller}}</td>

    </tr>
</table>

</html>