{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-sm-12 mt-2"> -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Car Buy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'car_data_insert' %}">List Car</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Signup</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" action="" method="get">
              <input class="form-control me-2" type="text" name="txtsearch" value="{{ search_txt }}"
                placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;
              <a href="/"><input class="btn btn-outline-danger" type="button" value="Clear"></a>
            </form>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <span class="badge rounded-pill bg-success">{{request.user}}</span>
            </li>
            {% endif %}
          </div>
        </div>
      </nav>
      <!-- </div> -->
      <div class="col-sm-12 mt-5">{% block contain %} {% endblock contain %}</div>
    </div>
  </div>
</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>